body {
  background-color: rgb(4, 8, 15);
}

h1 {
  color: oklch(82.995% 0.21122 127.664);
  text-align: center;
}

p {
    color: white;
  font-family: verdana;
  font-size: 20px;
}

.button {
  background-color: rgb(217, 245, 242);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}